header nav i{
    color: grey;
    font-size: .8em;
}

img{
    width: 100%;
}


._sony-logo{
    background-color: black;
    height: 50px;
}

._sony-logo>img{
    width: 7%;
}

.text-blue{
    color: rgb(0, 153, 255);
}


._jumbo-text-section>h1{
    font-size: 3em;
}

._button{
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
}

._jumbo-text-section>button{
    background-color: rgb(206, 85, 37);
}

._blue-button{
    background-color: rgb(0, 89, 255);
}

._jumbo{
    height: calc(100vh - 80px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grey-text{
    color: grey;
    font-size: 1.2em;
}

.ps-plus-img{
    height: 100%;
}

footer img{
    width: 30%;
}

footer ul>li>a{
    line-height: 2.5em;
    color: white;
}

.img-radius,
#games-library img,
#games-library-2 img{
    border-radius: 12px;
}

#lens-img{
    width: 60%;
}

#navbar-access-button{
    padding: 5px 20px;
    border: none;
    border-radius: 50px;

    color: white;
    background-color: rgb(70, 70, 70);
}

#jumbo{
    background-image: url(../img/jumbo-bg.png);
}

#jumbo-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#jumbo img{
    opacity: 0.9;
}

#jumbo-2 img{
    width: 80%;
}

#jumbo-2 h1{
    font-size: 2.5em;
}

#jumbo>.row{
    height: 100%;
}

#playstation-plus{
    background-color: rgb(190, 189, 189);
    height: 100%;
}

#playstation-now{
    background-color: rgb(38, 35, 90);
}

@media only screen and (min-width: 720px){
    .console-section-row{
        justify-content: space-around;
    }

    .console-col>h1{
        margin-top: 150px;
    }
}

header .navbar-nav>.nav-item>.nav-link:hover{
    color: rgb(56, 109, 255);
    border-bottom: 1px solid rgb(56, 109, 255);
}

header .navbar-nav>.nav-item>.nav-link:hover i{
    color: rgb(56, 109, 255);
}

._button:hover{
    background-color: rgba(255, 255, 10, 0.911);
    border: 1px solid rgba(255, 255, 10, 0.911);
}

#games-library>.row>div>div:hover{
    border: 2px solid rgb(56, 109, 255);
}

._blue-button:hover{
    background-color: rgb(56, 109, 255);
    color: rgb(56, 109, 255);
    border: 1px solid rgb(56, 109, 255);
}

.console-section-row>div:hover p{
    color: rgb(56, 109, 255);
}

#games-library-2 .row>div:hover p{
    font-size: large;
}

#store .row>div:hover img,
#social-media .row>div:hover img,
#games-library-2 .row>div:hover img,
.console-section-row>div:hover img,
#explore .row>div:hover img{
    border: 2px solid white;
}

footer .row>div>ul>li:hover a{
    color: white;
    font-size: large;
    border-bottom: 1px solid white;
}  


